%h2住所情報登録

= form_with model:@preference, local: true  do |f| 
  .field
    = f.label :好きなカテゴリー１
    = f.collection_select :category1_id, Tag.all, :id, :name
  .field
    = f.label :好きなカテゴリー２
    = f.collection_select :category2_id, Tag.all, :id, :name
  .field
    = f.label :好きなカテゴリー３
    = f.collection_select :category3_id, Tag.all, :id, :name
  .actions
    = f.submit "Sign up" 