%body.create-account 
  %h2 Movie-Review
  .regist-form
    = form_with model:@preference, local: true  do |f| 
      .form-box
        .form-box__form-title
          = f.label :好きなカテゴリー１
        .form-box__input-box
          = f.collection_select :category1_id, Tag.all, :id, :name, include_blank: true
      .form-box
        .form-box__form-title
          = f.label :好きなカテゴリー２
        .form-box__input-box
          = f.collection_select :category2_id, Tag.all, :id, :name, include_blank: true
      .form-box
        .form-box__form-title
          = f.label :好きなジャンル１
        .form-box__input-box
          = f.collection_select :genre1_id, Genre.all, :id, :name, include_blank: true
      .form-box
        .form-box__form-title
          = f.label :好きなジャンル2
        .form-box__input-box
          = f.collection_select :genre2_id, Genre.all, :id, :name, include_blank: true
      .actions
        = f.submit "Sign up" 