.Header
  = link_to root_path, class: "Header__title" do
    Movie-Review
  .Header__search
    = search_form_for @q, class: "search-box",url: search_movies_path do |f|
      = f.search_field :title_or_tags_name_cont, placeholder: "キーワードから探す", class: "input-box"
      = f.submit "検索", class: "search-btn", id: "search-btn"
  .Header__user-function
    -if user_signed_in?
      .log_out
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      .my_page
        = link_to "マイページ", user_path(current_user.id), method: :get
    -else 
      .create_acount
        = link_to "アカウント作成", new_user_registration_path
      .log_in
        = link_to "ログイン", new_user_session_path