.Main
  %h1.Movie-choice
    おすすめの映画
    .Movie-choice__list
      - @movies.first(10).each do |movie|
        .Movie-box
          = link_to movie_path(movie.id),method: :get, class: "Movie-box__title" do
            = movie.title
          .Movie-box__photo
            = image_tag movie.image.url, alt: "test", width: "100", height: "200"
  .New-movie
    新着映画
    .New-movie__list
      - @moviesup.first(10).each do |movie|
        .Movie-box
          = link_to movie_path(movie.id),method: :get, class: "Movie-box__title" do
            = movie.title
          .Movie-box__photo
            = image_tag movie.image.url, alt: "test", width: "100", height: "200"
  .Movie-list
    映画一覧
    .Movie-list__list
      - @movies.first(10).each do |movie|
        .Movie-box
          = link_to movie_path(movie.id),method: :get, class: "Movie-box__title" do
            = movie.title
          .Movie-box__photo
            = image_tag movie.image.url, alt: "test", width: "100", height: "200"