.Main
  %h1.Movie-choice
    おすすめの映画
    .Movie-choice__list
      - @movie.each do |movie|
        .Movie-box
          .Movie-box__title
            = movie.title
          = image_tag movie.image,class: 'Movie-box__photo' size: "100*200", alt: "test"
  .New-movie
    新着映画
    .New-movie__list
      .Movie-box
        .Movie-box__title
          鬼滅の刃 無限列車編
        .Movie-box__photo
          = image_tag "kimetunoyaiba.jpg", alt: "", width: "100", height: "200"
      .Movie-box
        .Movie-box__title
          アナイアレイション 
        .Movie-box__photo
          = image_tag "anaiareisyonn.jpg", alt: "", width: "100", height: "200"
      .Movie-box
        .Movie-box__title
          ラブ・デス・ロボット
        .Movie-box__photo
          = image_tag "lovedeath.jpg", alt: "", width: "100", height: "200"
      .Movie-box
        .Movie-box__title
          武器人間
        .Movie-box__photo
          = image_tag "bukininngenn_.jpg", alt: "", width: "100", height: "200"
      .Movie-box
        .Movie-box__title
          タッカーとデイル
        .Movie-box__photo
          = image_tag "takka-deiru.jpg", alt: "", width: "100", height: "200"
  .Movie-list
    映画一覧
    .Movie-list__list
      .Movie-box
        .Movie-box__title
          鬼滅の刃　無限列車編
        .Movie-box__photo
          = image_tag "kimetunoyaiba.jpg", alt: "", width: "100", height: "200"
      .Movie-box
        .Movie-box__title
          アナイアレイション 
        .Movie-box__photo
          = image_tag "anaiareisyonn.jpg", alt: "", width: "100", height: "200"
      .Movie-box
        .Movie-box__title
          ラブ・デス・ロボット
        .Movie-box__photo
          = image_tag "lovedeath.jpg", alt: "", width: "100", height: "200"
      .Movie-box
        .Movie-box__title
          武器人間
        .Movie-box__photo
          = image_tag "bukininngenn_.jpg", alt: "", width: "100", height: "200"
      .Movie-box
        .Movie-box__title
          タッカーとデイル
        .Movie-box__photo
          = image_tag "takka-deiru.jpg", alt: "", width: "100", height: "200"