.Show-main
  .Movie
    .Movie-title
      .Movie-title__titleruby
        = @movie.titleruby
      .Movie-title__title
        = @movie.title
    .Movie__details
      .Movie__photo
        = image_tag @movie.image.url, width: 300, height: 400
      .Movie__detail
        .Movie__synopsis
          %span
            あらすじ
          %blockquote
            = @movie.synopsis
          .Movie-link
            - if @movie.url = ""
              = link_to '映画公式サイト', @movie.url
            - else
          .Movie-copyright 
            - if @movie.copyright
              = @movie.copyright
        .Movie-review
          .Movie__point-average
            %span
              レビュアーの平均点数
            = @point
          .Movie__genre-average
        .Movie__category
          %span
            映画カテゴリー
          - @movie.tags.each do |tag|
            = tag.name 
  .Review-list
    %h1 レビュー 一覧
    - @movie.reviews.each do |review|
      .Review-box
        .Review-box__top
          .Review-box__title
            %span
              タイトル
            = review.title
          .Review-box__genre
            %span
              感想の種類
            = review.genre.name
          .Review-box__point
            %span
              評価
            = review.point
          .Review-box__point
            %span
              投稿者
            = review.user.name
          .Review-box__other 
            - if review.user_id = current_user.id
              = link_to "編集", edit_movie_review_path(@movie, review.id)
              = link_to "削除", movie_review_path(@movie, review.id), method: :delete
        .Review-box__text
          %span
            レビュー
          = review.review
  .Review-form
    %h1 レビュー投稿フォーム
    - if user_signed_in?
      - if @reviews.find_by(user_id: current_user.id)
        すでに投稿しています
      - else
        = form_with model: [@movie, @review], html: {class: "Review-form__review-form"},id: "new-review", local: true do |f|
          .review-box
            .review-box__title-field
              レビュータイトル
              = f.text_field :title, class: "review-box__title-form", placeholder: 'title'
              .review-box__select-field
                映画の感想
                = f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "必須", class:"review-box__genre-form"
                映画の点数(1 ~ 5点)
                = f.select :point, {'5 最高': 5,'4': 4,'3': 3,'2': 2,'1 最低': 1}, {include_blank: "必須"}, class: "review-box__point-form"
            .review-box__text-field
              = f.text_area :review , class: "review-box__text-form", placeholder: "review-box__text-form"
            .review-box__submit-btn
            = f.submit 'POST', class: "review-box__submit-btn"
    - else
      レビューを投稿するにはログインしてください
  - if user_signed_in? 
    - if current_user.admin?
      .movie-edit 
        = link_to "編集", edit_movie_path(@movie)







