.Show-main
  .Movie
    .Movie-title
      .Movie-title__titleruby
        = @movie.titleruby
      .Movie-title__title
        = @movie.title
    .Movie__details
      .Movie__photo
        = image_tag @movie.image.url, width: 300, height: 400
      .Movie__detail
        .Movie__synopsis
          = @movie.synopsis
        .Movie__category
          - @movie.tags.each do |tag|
            = tag.name 
              
  .Review-list
    - @movie.reviews.each do |review|
      .Review-box
        .Review-box__title
          Title
          = review.title
        .Review-box__text
          Review
          = review.review
  .Review-form
    = form_with model: [@movie, @review], html: {class: "Review-form__review-form"}, local: true do |f|
      .Input-box
        = f.text_field :title, class: "Input-box__title-form", placeholder: 'title'
        = f.text_area :review , class: "Input-box__text-form", placeholder: "review-text"
        = f.submit 'POST', class: "Input-box__submit-btn"






