.Show-main
  .Movie
    .Movie-title
      .Movie-title__titleruby
        = @movie.titleruby
      .Movie-title__title
        = @movie.title
    .Movie__details
      .Movie__photo
        = image_tag @movie.image.url, width: 300, height: 400
      .Movie__detail
        .Movie__synopsis
          %blockquote
            = @movie.synopsis
        .Movie-review
          .Movie__point-average
            = @point
          .Movie__genre-average
        .Movie__category
          - @movie.tags.each do |tag|
            = tag.name 
  .Review-list
    - @movie.reviews.each do |review|
      .Review-box
        .Review-box__title
          タイトル
          = review.title
          = review.genre.name
          = review.point
        .Review-box__text
          レビュー
          = review.review
  - if user_signed_in?
    .Review-form
      = form_with model: [@movie, @review], html: {class: "Review-form__review-form"}, local: true do |f|
        .Input-box
          = f.text_field :title, class: "Input-box__title-form", placeholder: 'title'
          .Input-box__select-field
            = f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選んでください", class:"Input-box__genre-form"
            = f.select :point, {'1': 1, '2': 2,'3': 3,'4': 4,'5': 5,}, {include_blank: "選んでください"}, class: "Input-box__point-form"
          = f.text_area :review , class: "Input-box__text-form", placeholder: "Input-box__text-form"
          = f.submit 'POST', class: "Input-box__submit-btn"
  = link_to edit_movie_path(@movie), class: "Movie-registration" do
    映画編集










