.Side-bar
  .Movie-ranking
    人気ランキング
    .Movie-ranking__list
      - @movies.first(5).each do |movie|
        .Movie-ranking-list
          = link_to movie_path(movie.id), method: :get, class: "Movie-ranking-list__title" do
            = movie.title
  .New-movie
    新着映画
    .New-movie-list
      - @moviesup.first(5).each do |movie|
        = link_to movie_path(movie.id), method: :get, class: "New-movie-list__title" do
          = movie.title
  .Tag-list
    タグリスト
    
 
  = link_to new_movie_path, class: "Movie-registration" do
    映画登録
  = link_to new_tag_path, class: "Movie-registration" do
    タグ登録