.side-bar
  .movie-ranking
    人気ランキング
    .movie-ranking__list
      - @movies.first(5).each do |movie|
        .movie-ranking-list
          = link_to movie_path(movie.id), method: :get, class: "movie-ranking-list__title" do
            = movie.title
  .new-movie
    新着映画
    .new-movie-list
      - @moviesup.first(5).each do |movie|
        .movie-ranking-list
          = link_to movie_path(movie.id), method: :get, class: "new-movie-list__title" do
            = movie.title
  .tag-list
    タグリスト
    - @tag.each do |tag|
      -if tag.root? 
        %details.tag-list__root-tag
          %summary.tag-list__tag
            = link_to ({ contoroller: "movies", action: "search", q:{tags_name_cont: tag.name}}) do
              = tag.name 
          - if tag.children?
            - tag.children.each do |tag|
              .tag-list__child-tag
                = link_to ({ contoroller: "movies", action: "search", q:{tags_name_cont: tag.name}}) do
                  %span
                  = tag.name
                -if tag.children?
                  -tag.children.each do |tag|
                    .tag-list__garndchild-tag
                      = link_to ({ contoroller: "movies", action: "search", q:{tags_name_cont: tag.name}}) do
                        = tag.name
  - if user_signed_in?
    - if current_user.admin?
      .admin
        = link_to new_movie_path, class: "movie-registration" do
          映画登録
        = link_to new_tag_path, class: "movie-registration" do
          タグ登録