.New-movie
    %h3 "編集する"
    = form_with model: [@movie], html: {class: "New-movie__form"}, local: true do |f|
        = f.text_field :title, class: 'New-movie__title-form', placeholder: '映画のタイトルを入力してください'
        = f.text_field :titleruby, class: 'New-movie__titleruby-form', placeholder: 'ルビをひらがなで入力してください'
        = f.text_area :synopsis, class: 'New-movie__synopsis-form', placeholder: '映画の詳細を入力してください'
        = image_tag @movie.image.url, alt: "preview"
        = f.text_field :copuright, placeholder: "映画の著作権者を記入してください"
        = f.text_field :url, placeholder: "公式サイトへのリンクを記入してください"
        = f.file_field :image, class: 'New-movie__image-form'
        = f.hidden_field :image_cache
        = f.collection_check_boxes :tag_ids, Tag.all, :id, :name
        = f.submit 'NEW', class: 'New-movie__submit-btn'