.side-bar
  .side-bar__list
    .side-bar__list-name
      = link_to user_path(@user.id) do
        マイページ
    .side-bar__list-name
      = link_to "#" do
        お知らせ
    .side-bar__list-name
      = link_to "#" do
        評価した映画一覧
    .side-bar__list-name
      = link_to review_all_user_path(@user.id) do
        レビュー 一覧
    .side-bar__list-name
      = link_to "" do
        お気に入り一覧
    .side-bar__list-name
      = link_to edit_user_registration_path(@user.id) do
        ユーザ情報変更
    .side-bar__list-name
      = link_to edit_user_path(@user.id) do
        好きなジャンル、カテゴリー変更
    .side-bar__list-name
      = link_to "#" do
        プロフィール画面
    .side-bar__list-name
      = link_to "#" do
        プロフィール編集
    .side-bar__list-name
      = link_to "#" do
        退会