.side-bar
  .side-bar__list
    .side-bar__list-name
      = link_to user_path(current_user.id) do
        マイページ
    .side-bar__list-name
      = link_to "#" do
        お知らせ
    .side-bar__list-name
      = link_to "#" do
        評価した映画一覧
    .side-bar__list-name
      = link_to "#" do
        レビュー 一覧
    .side-bar__list-name
      = link_to "#" do
        お気に入り一覧
    .side-bar__list-name
      = link_to "#" do
        ユーザ情報変更
    .side-bar__list-name
      = link_to "#" do
        好きなジャンル変更
    .side-bar__list-name
      = link_to "#" do
        好きなカテゴリー変更
    .side-bar__list-name
      = link_to "#" do
        プロフィール編集
    .side-bar__list-name
      = link_to "#" do
        退会