.header
  = render "movies/header"
.wrapper
  = render "side-bar" 
  .user-show
    .user-show__top
      .user-show__title
        = current_user.name
        さんのマイページ
    .user-show__main
      .user-show__genre 
        .user-show__genre1
          - if current_user.preference.category1_id 
            好きなジャンル１
            スリラー
          - else
            = link_to "好きなジャンルを追加", "#"
        .user-show__genre2
          - if current_user.preference.category2_id 
            好きなジャンル２
            コメディ
          - else
            = link_to "好きなジャンルを追加", "#"
      .user-show__recently-review
        最近のレビュー 
        - @reviews.first(3).each do |review|
          .review-box
            .review-box__top
              .review-box__title
                %span
                  映画のタイトル
                = review.movie.title
              .review-box__title
                %span
                  タイトル
                = review.title
              .review-box__genre
                %span
                  感想の種類
                = review.genre.name
              .review-box__point
                %span
                  評価
                = review.point
              .review-box__point
                %span
                  投稿者
                = review.user.name
              .review-box__other 
                - if review.user_id = current_user.id
                  = link_to "編集", edit_movie_review_path(review.movie_id, review.id)
                  = link_to "削除", movie_review_path(review.movie_id, review.id), method: :delete
            .review-box__text
              %span
                レビュー
              = review.review
        = link_to "#" do
          詳しく見る
      .user-show__recently-movie