.header
  = render "movies/header"
.wrapper
  = render "movies/side-bar"
  .show-main
    .movie
      .movie-title
        .movie-title__titleruby
          = @movie.titleruby
        .movie-title__title
          = @movie.title
      .movie__details
        .movie__photo
          = image_tag @movie.image.url, width: 300, height: 400
        .movie__detail
          .movie__synopsis
            %span
              あらすじ
            %blockquote
              = @movie.synopsis
            .movie-link
              - if @movie.url
                = link_to '引用元の映画公式サイト', @movie.url
              - else
            .movie-copyright 
              - if @movie.copyright
                = @movie.copyright
          .movie-review
            .movie__point-average
              %span
                レビュアーの平均点数
              = @point
            .movie__genre-average
          .movie__category
            %span
              映画カテゴリー
            - @movie.tags.each do |tag|
              = tag.name 
    .review-form
      %h1 レビュー編集フォーム
      = form_with model: [@movie, @review], html: {class: "review-form__review-form"},id: "edit-review", local: true do |f|
        .review-box
          .review-box__title-field
            レビュータイトル
            = f.text_field :title, class: "review-box__title-form", placeholder: 'title'
            .review-box__select-field
              映画の感想
              = f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "必須", class:"review-box__genre-form"
              映画の点数(1 ~ 5点)
              = f.select :point, {'5': 5,'4': 4,'3': 3,'2': 2,'1': 1}, {include_blank: "必須"}, class: "review-box__point-form"
          .review-box__text-field
            = f.text_area :review , class: "review-box__text-form", placeholder: "review-box__text-form"
          .review-box__submit-btn
          = f.submit '編集', class: "review-box__submit-btn"